div {
  border: 2px solid rgb(60, 60, 60);
  background-color: rgb(92, 92, 92);
  margin: 5px;
  padding: 5px;
  margin-right: 100px;
}

/* id : super */
div#super {
  border: 2px solid rgb(100, 100, 100);
  background-color: rgb(196, 196, 196);
  margin: 5px;
  padding: 5px;
  margin-right: 100px;
}

h1 {
  color: white;
}